html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(39, 39, 39);
    color: #EBB24B;
    font-family: sans-serif;

}
h1, h3, strong{
    color: white;
    font-family: Futura;
}

h5{
    color: gray;
    line-height: 0.1;
    display: inline;

}

p{
    text-align: justify;

}
#introduction{
    width: 100vw;
    height: 300px;
    clear: both;
    padding: 1rem;
    box-sizing: border-box;
}
#content{
    box-sizing: border-box;
    padding: 2rem;
    position: relative;
}
.content_box{
    display: block;
    padding-bottom: 2rem;
    max-height: 100%;
}
.project_title{
    float: left;
}
.title_text{
    font-size: 50px;
    line-height: 0.1;

}
.title_line{
    border: 1px #EBB24B solid;
    width: 100%;
    line-height: 0.1;
    
}
.description{
    float: right;
}

.img_full img{
    max-width: 100%;
}
#redesign{
    height: 940px;
}
.half_right{
    float: right;
    width: 50%;
    height: 100%;
}
.half_right img{
    max-width: 90%;
    float: right;
    max-height: 90%;
}
.half_left{
    float: left;
    width:50%;
    height: 100%;

}
.half_left img{
    width: 90%;
    height: 100px;
}
#user_flow{
    text-align: center;

}

#user_flow img{
    width: 24%;
    
}

#app_demo video{
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

#app_button{
    width: 250px;
    height: 40px;
    background-color: #F5554B;
    border: 1px transparent;
    border-radius: 15px ;
    display: block;
    margin: 0 auto;
    margin-top: 2%;

    font-size: 100%;
    text-align: center;
    color: rgb(39, 39, 39);
    text-decoration: none;

    padding-top: 20px;
}

@media (max-width: 1118px){
    #redesign{
        height: 700px;
    }
}
@media (max-width: 882px){
   
    p{
        text-align: left;
    
    }
    #redesign{
        height: 500px;
    }
}